<td><%= get('email') %></td>
<td><%= get('phone_number') %></td>
<td><%= get('lastname') %></td>
<td><%= get('firstname') %></td>
<td><%= get('date_birth') %></td>
<td><%= get('type') %></td>
<td><%= get('default_address_id') %></td>
<td><%= get('created_at') %></td>
